@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-light.eot);
  src: url(../fonts/raleway-fonts/raleway-light.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-light.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-regular.eot);
  src: url(../fonts/raleway-fonts/raleway-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-regular.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-medium.eot);
  src: url(../fonts/raleway-fonts/raleway-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-medium.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-semibold.eot);
  src: url(../fonts/raleway-fonts/raleway-semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-semibold.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-bold.eot);
  src: url(../fonts/raleway-fonts/raleway-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-bold.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-extrabold.eot);
  src: url(../fonts/raleway-fonts/raleway-extrabold.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-extrabold.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-extrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(../fonts/raleway-fonts/raleway-black.eot);
  src: url(../fonts/raleway-fonts/raleway-black.eot?#iefix) format("embedded-opentype"), url(../fonts/raleway-fonts/raleway-black.woff2) format("woff2"), url(../fonts/raleway-fonts/raleway-black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-light);
  src: url(../fonts/montserrat-fonts/montserrat-light?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-light.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-regular);
  src: url(../fonts/montserrat-fonts/montserrat-regular?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-regular.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-medium);
  src: url(../fonts/montserrat-fonts/montserrat-medium?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-medium.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-semibold);
  src: url(../fonts/montserrat-fonts/montserrat-semibold?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-semibold.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-bold);
  src: url(../fonts/montserrat-fonts/montserrat-bold?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-bold.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-extrabold);
  src: url(../fonts/montserrat-fonts/montserrat-extrabold?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-extrabold.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-extrabold.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat-fonts/montserrat-black);
  src: url(../fonts/montserrat-fonts/montserrat-black?#iefix) format("embedded-opentype"), url(../fonts/montserrat-fonts/montserrat-black.woff2) format("woff2"), url(../fonts/montserrat-fonts/montserrat-black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
}

/* Header section*/
.header {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/header_bg.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 768px;
  max-height: 1024px;
  height: 100vh;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  max-width: 1170px;
  width: 100%;
  padding-top: 38px;
  min-height: 59px;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 637px;
}

.nav__item {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  height: 24px;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  font-weight: 500;
  line-height: 1.2;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.nav__item:hover {
  color: #998675;
}

.nav__basket {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  width: 18px;
  height: 24px;
  margin-left: 64px;
  fill: white;
}

.nav__basket:hover {
  fill: #998675;
}

.burger-nav {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  padding: 20px 20px;
}

.burger-nav__basket {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  padding: 2px 0 0;
  margin-right: 20px;
  width: 30px;
  height: 35px;
  fill: white;
}

.burger-nav__basket:hover {
  fill: #998675;
}

.burger-menu {
  position: relative;
  z-index: 3;
}

.burger-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 1;
}

.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.burger-menu__btn > span::before {
  content: '';
  top: -10px;
}

.burger-menu__btn > span::after {
  content: '';
  top: 10px;
}

.burger-menu__box {
  position: fixed;
  visibility: hidden;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.burger-menu__wrp {
  height: 90vh;
  max-height: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5vh 0;
}

.burger-menu__item {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  text-align: center;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 24px;
  color: white;
  font-weight: 500;
  line-height: 1.2;
}

.burger-menu__item:hover {
  color: #998675;
}

#menu__toggle {
  display: none;
  opacity: 0;
}

#menu__toggle:checked ~ .burger-menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .burger-menu__box {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  left: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.logo__img {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  width: 64px;
  height: 56px;
  fill: white;
  margin-right: 2px;
}

.logo__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 34px;
  color: white;
  font-weight: 400;
}

.logo:hover > .logo__img,
.logo:hover > .logo__text {
  fill: #998675;
  color: #998675;
}

.form {
  position: relative;
  height: 24px;
  width: 24px;
  margin-left: 28px;
}

.form__search {
  height: 25px;
  width: 0;
  padding: 0 25px 0 0;
  border: none;
  border-radius: 5px;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.form__search:focus {
  padding: 0 15px 0 10px;
  background: white right;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  width: 300px;
  z-index: 1;
}

.form__button {
  background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"><path fill="white" d="M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.form__button::before {
  content: '';
  font-size: 16px;
  color: #f9f0da;
}

.carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1620px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.carusel__item {
  width: 48px;
  cursor: pointer;
  padding: 10px;
}

.carusel__item:nth-of-type(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carusel__arrow {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  fill: #d3c1ad;
  width: 50px;
  height: 74px;
}

.carusel__arrow:hover {
  fill: #998675;
}

.slogan {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.slogan__pre-slogan {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 36px;
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
}

.slogan__main {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 52px;
  color: white;
  font-weight: 800;
  margin-bottom: 10px;
}

.slogan__text {
  width: 95%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: white;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto 50px;
}

.slogan__button {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  text-transform: uppercase;
  background-color: #998675;
  padding: 19px 39px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.slogan__button:hover {
  background-color: white;
  color: #998675;
}

.slogan__button:active {
  background-color: grey;
}

.pagination {
  position: absolute;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.pagination__item {
  display: block;
  width: 11px;
  height: 11px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 2px solid transparent;
}

.pagination__item:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.pagination__item-current {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Services section */
.services {
  padding: 78px 10px;
  display: -ms-grid;
  display: grid;
  gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.service-card::after {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  content: '';
  height: 29px;
  width: 71px;
  margin-top: auto;
  border-bottom: 2px solid #8c8c8c;
}

.service-card__icon {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  width: 50px;
  height: 50px;
  margin-bottom: 29px;
}

.service-card__heading {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #555;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

.service-card__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 24px;
}

.service-card:hover > .service-card__icon {
  fill: #998675;
}

.service-card:hover > .service-card__heading,
.service-card:hover > .service-card__text {
  color: #998675;
}

.service-card:hover::after {
  border-bottom: 4px solid #998675;
}

/* Screens section */
.screens {
  padding: 80px 10px 0;
  background-color: #fbfaf8;
}

.screens__heading {
  text-align: center;
  margin-bottom: 18px;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #555555;
  font-weight: 600;
}

.screens__text {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 32px;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 400;
  line-height: 28px;
}

.screens__screen {
  display: block;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  height: 483px;
}

/* Promo section */
.promo {
  padding: 40px 10px 50px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.promo__container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__heading {
  margin-bottom: 5px;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 28px;
  color: white;
  font-weight: 400;
}

.promo__heading span {
  color: #c7b299;
}

.promo__text {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #615855;
  font-weight: 400;
  line-height: 1.2;
}

.promo__button {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: uppercase;
  background-color: #998675;
  padding: 0 28px;
  height: 50px;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.promo__button:hover {
  background-color: white;
  color: #998675;
}

.promo__button:active {
  background-color: grey;
}

/* Projects section */
.projects {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 77px 0 81px;
}

.projects__heading {
  text-align: center;
  margin-bottom: 15px;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #555555;
  font-weight: 600;
}

.projects__text {
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 28px;
}

.projects__filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.projects__filter {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  height: 32px;
  padding: 0 24px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 21px;
}

.projects__filter:hover {
  color: white;
  background-color: #998675;
}

.projects__filter:active {
  background-color: grey;
}

.projects__filter-active {
  cursor: default;
  color: white;
  background-color: #998675;
}

.projects__filter:last-of-type {
  margin-right: 0;
}

.projects__wrp {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin-bottom: 40px;
}

.projects__btn {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #998675;
  padding: 0 42px;
  height: 50px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.projects__btn:hover {
  background-color: white;
  color: #998675;
  border: 1px solid #998675;
}

.projects__btn:active {
  background-color: grey;
  color: white;
}

.project-card {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  position: relative;
  max-width: 370px;
  background-color: #fbfaf8;
  margin-bottom: 2px;
  cursor: pointer;
}

.project-card__img {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  width: 100%;
  height: 237px;
}

.project-card__wrp {
  position: relative;
  background-color: inherit;
  padding: 27px 28px 25px;
}

.project-card__wrp::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(37deg) skew(-15deg);
          transform: rotate(37deg) skew(-15deg);
  left: 25px;
  top: -7px;
  background-color: inherit;
}

.project-card__heading {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #c7b299;
  font-weight: 500;
  margin-bottom: 5px;
}

.project-card__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #d1d1d1;
  font-weight: 300;
  line-height: 20px;
}

.project-card:hover {
  background-color: #362f2d;
}

.project-card:hover .project-card__img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.project-card:hover .project-card__heading {
  color: white;
}

.project-card:hover .project-card__text {
  color: #c7b299;
}

.project-card:hover .more-info {
  display: block;
}

.more-info {
  content: "";
  display: block;
  position: absolute;
  display: none;
  left: 50%;
  top: 106px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.more-info__search {
  margin-left: 28px;
}

.more-info__link:hover > .more-info__icon,
.more-info__search:hover > .more-info__icon {
  fill: #c7b299;
}

.more-info__icon {
  fill: white;
  height: 25px;
  width: 25px;
}

/* Video presentation section */
.video-pres {
  position: relative;
  max-width: 1920px;
  max-height: 705px;
  margin: 0 auto;
  cursor: pointer;
}

.video-pres__video {
  --width: 100%;
  width: 100%;
  max-height: 705px;
  background-image: url(../img/video-bg-photo.jpeg);
  background-position-y: 20%;
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.preload {
  content: "";
  display: block;
  position: absolute;
  text-align: center;
  width: 570px;
  height: 290px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preload__btn {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 38px;
}

.preload__icon {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  fill: white;
  padding-top: 5px;
}

.preload__heading {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin-bottom: 12px;
}

.preload__text {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: white;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 28px;
}

.preload__timer {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #c7b299;
  font-weight: 400;
  line-height: 24px;
}

.preload:hover .preload__icon {
  fill: #c7b299;
}

/* Adaptive presentation section */
.adaptive-pres {
  background-color: #fbfaf8;
}

.adaptive-pres__wrp {
  margin: 0 auto;
  padding: 80px 0 0;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.adaptive-pres__img {
  width: 423px;
  height: 616px;
  margin-right: -12px;
}

.adaptive-pres__art-wrp {
  max-width: 710px;
  padding-left: 42px;
}

.adaptive-pres__heading {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #555;
  font-weight: 600;
  line-height: 1.2;
  margin: 105px 0 25px;
}

.adaptive-pres__text {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 30px;
}

.adaptive-pres__list {
  margin-left: 50px;
}

.adaptive-pres__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 33px;
}

.adaptive-pres__item span {
  display: block;
}

.adaptive-pres__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 22px;
  height: 22px;
  fill: #c7b299;
  margin-right: 30px;
}

/* Counters section */
.counters {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f4f5f8 -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: #f4f5f8 linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.counters-card {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counters-card::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.counters-card__img {
  fill: white;
  width: 60px;
  height: 45px;
  margin-bottom: 25px;
}

.counters-card__num {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 48px;
  color: #fff;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 10px;
}

.counters-card__text {
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #c7b299;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 22px;
}

/* Recent posts section */
.recent-posts {
  margin: 0 auto;
  padding: 75px 0 78px;
}

.recent-posts__heading {
  text-align: center;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #555;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
}

.recent-posts__text {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 36px;
}

.recent-posts__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto 35px;
}

.recent-posts__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 53px;
}

.recent-posts__btn {
  background-color: inherit;
}

.recent-posts__btn-icon {
  fill: #d1d1d1;
}

.recent-posts__btn-icon:hover {
  fill: #c7b299;
}

.post-card {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  position: relative;
  width: 370px;
  background-color: rgba(119, 119, 119, 0);
  border: 1px solid #f8f8f8;
}

.post-card__img {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  width: 100%;
  height: 220px;
  margin-bottom: 25px;
}

.post-card__heading {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #555;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 11px;
  padding: 0 30px;
}

.post-card__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #8c8c8c;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 12px;
  padding: 0 30px;
}

.post-card__link {
  display: block;
  position: relative;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #c7b299;
  font-weight: 300;
  line-height: 28px;
  padding: 0 30px 25px;
}

.post-card__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 120px;
  top: 20%;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: linear-gradient(45deg, transparent, transparent 50%, #c7b299 50%);
}

.post-card:hover {
  background-color: #362f2d;
}

.post-card:hover .date-card__day {
  background-color: #c7b299;
}

.post-card:hover .date-card__month {
  background-color: #a48d72;
}

.post-card:hover .post-card__img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.post-card:hover .post-card__heading {
  color: #c7b299;
}

.post-card:hover .post-card__text {
  color: white;
}

.date-card {
  position: absolute;
  z-index: 1;
  width: 52px;
  top: 20px;
  left: 20px;
}

.date-card__day {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  text-align: center;
  padding: 4px 0 2px;
  border-radius: 5px 5px 0 0;
  background-color: #363636;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  line-height: 30px;
}

.date-card__month {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  text-align: center;
  padding: 2px 0 2px;
  border-radius: 0 0 5px 5px;
  text-transform: capitalize;
  background-color: #252525;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
}

.card-pagination {
  position: absolute;
  z-index: 1;
  top: 185px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.card-pagination__item {
  display: block;
  width: 11px;
  height: 11px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 2px solid transparent;
}

.card-pagination__item:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.card-pagination__item-current {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Partners section */
.partners {
  height: 490px;
  background-image: url(../img/partners_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__wrp {
  width: 210px;
  margin: 0 45px;
}

.partners__logo {
  width: 100%;
}

/* Contacts section  */
.contacts {
  background-color: #191919;
}

.contacts__wrp {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.waxom-card {
  width: 270px;
  cursor: default;
}

.waxom-card__logo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.waxom-card__img {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  width: 64px;
  height: 56px;
  fill: white;
  margin-right: 2px;
}

.waxom-card__logo-text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-size: 34px;
  color: white;
  font-weight: 400;
}

.waxom-card__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #555;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 24px;
}

.waxom-card__link {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  position: relative;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #d1d1d1;
  font-weight: 400;
  line-height: 20px;
}

.waxom-card__link::after {
  content: "";
  display: block;
  position: absolute;
  left: 83px;
  top: 32%;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: linear-gradient(45deg, transparent, transparent 50%, #d1d1d1 50%);
}

.waxom-card:hover .waxom-card__img {
  fill: #c7b299;
}

.waxom-card:hover .waxom-card__logo-text {
  color: #c7b299;
}

.waxom-card:hover .waxom-card__text {
  color: white;
}

.waxom-card:hover .waxom-card__link {
  color: #c7b299;
}

.waxom-card:hover .waxom-card__link::after {
  background: linear-gradient(45deg, transparent, transparent 50%, #c7b299 50%);
}

.contacts-recposts {
  width: 270px;
  cursor: pointer;
}

.contacts-recposts__heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 24px;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0 23px;
}

.contacts-recposts__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #555;
  font-weight: 300;
  line-height: 20px;
}

.contacts-recposts__text mark {
  background-color: inherit;
  color: #00bff3;
}

.contacts-recposts__text:not(:last-of-type)::after {
  display: block;
  position: relative;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #252525;
  margin: 20px 0 12px;
}

.contacts-recposts__text:hover {
  color: #c7b299;
}

.contacts-recposts__text:hover .contacts-recposts__date {
  color: white;
}

.contacts-recposts__text:hover::after {
  background-color: #c7b299;
}

.contacts-recposts__date {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #363636;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 5px;
}

.twitter-posts {
  width: 270px;
  cursor: pointer;
}

.twitter-posts__heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 24px;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0 21px;
}

.twitter-posts__text {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #555;
  font-weight: 300;
  line-height: 20px;
}

.twitter-posts__text mark {
  background-color: inherit;
  color: #00bff3;
}

.twitter-posts__text:not(:last-of-type)::after {
  display: block;
  position: relative;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #252525;
  margin: 20px 0 13px;
}

.twitter-posts__text:hover {
  color: #c7b299;
}

.twitter-posts__text:hover .twitter-posts__date {
  color: white;
}

.twitter-posts__text:hover::after {
  background-color: #c7b299;
}

.twitter-posts__date {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #363636;
  font-weight: 300;
  line-height: 20px;
  margin: 6px 0 0 0;
}

.twitter-posts__link {
  color: #959595;
}

.dribble-widget {
  width: 270px;
  cursor: pointer;
}

.dribble-widget__heading {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 24px;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0 25px;
}

.dribble-widget__wrp {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 270px;
  min-height: 210px;
}

.dribble-widget__widget {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  background-position: center;
}

.dribble-widget__widget-phone {
  background-image: url(../img/contacts-phone.jpeg);
}

.dribble-widget__widget-bag {
  background-image: url(../img/contacts-bag.jpeg);
}

.dribble-widget__widget-magazine {
  background-image: url(../img/contacts-magazine.jpeg);
}

.dribble-widget__widget-icons {
  background-image: url(../img/contacts-icons.jpeg);
}

.dribble-widget__widget:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

/* Copyright section*/
.copyright {
  min-height: 100px;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.copyright__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -ms-flex-preferred-size: 1170px;
      flex-basis: 1170px;
}

.copyright__text {
  color: #555555;
  margin: 0 10px;
}

.copyright__name {
  color: #959595;
}

.copyright__link {
  -webkit-transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, -webkit-filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease;
  transition: background 0.5s ease, color 0.5s ease, opacity 0.5s ease, fill 0.5s ease, filter 0.5s ease, -webkit-filter 0.5s ease;
  color: #555555;
  margin: 0 10px;
}

.copyright__link:hover {
  color: #c7b299;
}

@media (max-width: 1280px) {
  .burger-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .carusel__item {
    display: none;
  }
  .services {
    -ms-grid-columns: 270px 270px;
        grid-template-columns: 270px 270px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screens {
    display: none;
  }
  .projects__wrp {
    -ms-grid-columns: 370px 370px;
        grid-template-columns: 370px 370px;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .projects__text {
    padding: 0 10px;
  }
  .adaptive-pres__wrp {
    padding: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adaptive-pres__img {
    display: none;
  }
  .adaptive-pres__art-wrp {
    max-width: 710px;
    padding-left: 0;
  }
  .adaptive-pres__heading {
    margin: 0 0 25px;
  }
  .recent-posts__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 0 10px;
  }
  .post-card {
    margin: 0 10px 30px;
  }
  .partners {
    height: auto;
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners__wrp {
    margin: 30px auto;
  }
  .contacts__wrp {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 270px 270px;
        grid-template-columns: 270px 270px;
    gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 375px;
    max-height: 768px;
  }
  .burger-nav {
    position: relative;
  }
  .slogan__pre-slogan {
    font-size: 20px;
  }
  .slogan__main {
    font-size: 36px;
  }
  .slogan__text {
    width: 95%;
    font-size: 12px;
    margin: 0 auto 20px;
  }
  .pagination {
    display: none;
  }
  .services {
    padding: 60px 10px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 270px;
        grid-template-columns: 270px;
    gap: 30px;
  }
  .promo {
    padding: 40px 10px;
  }
  .promo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .promo__content {
    margin-bottom: 30px;
  }
  .promo__button {
    -ms-flex-item-align: inherit;
        -ms-grid-row-align: inherit;
        align-self: inherit;
  }
  .projects__wrp {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 40px;
    padding: 0 10px;
  }
  .projects__filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .projects__filter {
    margin-bottom: 10px;
  }
  .project-card {
    margin: 0 auto;
  }
  .video-pres {
    display: none;
  }
  .preload {
    display: none;
  }
  .adaptive-pres {
    display: none;
  }
  .counters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 64px 0 14px;
  }
  .counters-card {
    margin-bottom: 50px;
  }
  .post-card {
    width: 100%;
    max-width: 370px;
  }
  .contacts__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  /* Copyright section*/
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .copyright__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -ms-flex-preferred-size: 1170px;
        flex-basis: 1170px;
  }
  .copyright__wrp {
    margin-bottom: 10px;
  }
  .copyright__text {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */