@import './custom-reset.scss';
@import './fonts.scss';
/**/
$hover-color: #998675;
$font-size-seched: 30px;

.wrapper {
	// max-width: 1920px;
	margin: 0 auto;
}

@mixin pseudo(
	$display: block,
	$pos: absolute,
	$content: ''
) {
	content: $content;
	display: $display;
	position: $pos;
}

@mixin text-style(
	$size: false,
	$color: false,
	$weight: false,
	$lh: false,
	$font-family: 'Arial',
	$font-style: normal
) {
	font-family: $font-family, sans-serif;
	font-style: $font-style;
	@if $size {
		font-size: $size;
	}
	@if $color {
		color: $color;
	}
	@if $weight {
		font-weight: $weight;
	}
	@if $lh {
		line-height: $lh;
	}
}

/* Header section*/

.header {
	background-color: black;
	background-image: linear-gradient(
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		url(../img/header_bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 1024px;
	padding: 0 10px;
	position: relative;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	max-width: 1170px;
	width: 100%;
	padding-top: 38px;
	min-height: 59px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 637px;
	}
	&__item {
		display: block;
		&:last-of-type {
			margin-right: 0;
		}
		@include text-style(
			$size: 14px,
			$font-family: 'raleway',
			$weight: 500,
			$lh: 1.2,
			$color: white
		);
		&:hover {
			color: $hover-color;
		}
	}
	&__basket {
		width: 18px;
		height: 24px;
		margin-left: 64px;
		fill: white;
		&:hover {
			fill: $hover-color;
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	margin-right: auto;
	&__img {
		width: 64px;
		height: 56px;
		fill: white;
		margin-right: 2px;
	}
	&__text {
		@include text-style(
			$color: white,
			$size: 34px,
			$font-family: 'raleway',
			$weight: 400
		);
	}
	&:hover > &__img,
	&:hover > &__text {
		fill: $hover-color;
		color: $hover-color;
	}
}

.form {
	position: relative;
	height: 24px;
	width: 24px;
	margin-left: 28px;
	&__search {
		height: 25px;
		width: 0;
		padding: 0 25px 0 0;
		border: none;
		border-radius: 5px;
		background: transparent;
		transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		&:focus {
			padding: 0 15px 0 10px;
			background: white right;
			transition: width 1s ease-out;
			width: 300px;
			z-index: 1;
		}
	}
	&__button {
		background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24"><path fill="white" d="M23.762,22.681 L17.569,16.586 C19.190,14.825 20.187,12.494 20.187,9.929 C20.186,4.443 15.668,-0.002 10.093,-0.002 C4.519,-0.002 0.001,4.443 0.001,9.929 C0.001,15.416 4.519,19.862 10.093,19.862 C12.502,19.862 14.711,19.028 16.446,17.644 L22.663,23.763 C22.966,24.062 23.458,24.062 23.761,23.763 C24.065,23.464 24.065,22.979 23.762,22.681 ZM10.093,18.334 C5.377,18.334 1.553,14.572 1.553,9.929 C1.553,5.288 5.377,1.525 10.093,1.525 C14.810,1.525 18.633,5.288 18.633,9.929 C18.633,14.572 14.810,18.334 10.093,18.334 Z"/></svg>');
		background-size: contain;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
		height: 24px;
		width: 24px;
		position: absolute;
		top: 0;
		right: 0;
		&::before {
			content: '';
			font-size: 16px;
			color: #f9f0da;
		}
	}
}

.carusel {
	display: flex;
	max-width: 1620px;
	height: 100%;
	align-items: center;
	margin: 0 auto;
	&__item {
		width: 48px;
		cursor: pointer;
		&:nth-of-type(2) {
			transform: rotate(180deg);
		}
	}
	&__arrow {
		fill: #d3c1ad;
		width: 50px;
		height: 74px;
		&:hover {
			fill: $hover-color;
		}
	}
}

.slogan {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	&__pre-slogan {
		@include text-style(
			$size: 36px,
			$color: white,
			$font-family: 'Raleway',
			$weight: 500
		);
		margin-bottom: 5px;
	}
	&__main {
		@include text-style(
			$size: 52px,
			$color: white,
			$font-family: 'Raleway',
			$weight: 800
		);
		margin-bottom: 10px;
	}
	&__text {
		width: 95%;
		@include text-style(
			$size: 16px,
			$color: white,
			$font-family: 'Montserrat',
			$weight: 300,
			$lh: 24px
		);
		margin: 0 auto 50px;
	}
	&__button {
		text-transform: uppercase;
		background-color: $hover-color;
		padding: 19px 39px;
		border-radius: 5px;
		@include text-style(
			$color: white,
			$size: 14px,
			$weight: 700,
			$font-family: 'Raleway'
		);
		&:hover {
			background-color: white;
			color: $hover-color;
		}
		&:active {
			background-color: grey;
		}
	}
}

.pagination {
	position: absolute;
	bottom: 42px;
	left: 50%;
	transform: translate(-50%);
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	&__item {
		display: block;
		width: 11px;
		height: 11px;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		border: 2px solid transparent;
		&:hover {
			background-color: transparent;
			box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
		}
		&-current {
			background-color: transparent;
			border: 2px solid rgba(255, 255, 255, 0.5);
		}
	}
}

/* Services section */

.services {
	padding: 78px 10px;
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin: 0 auto;
}

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 15px;
	cursor: pointer;
	&::after {
		content: '';
		height: 29px;
		width: 71px;
		margin-top: auto;
		border-bottom: 2px solid #8c8c8c;
	}
	&__icon {
		width: 50px;
		height: 50px;
		margin-bottom: 29px;
	}
	&__heading {
		text-align: center;
		@include text-style(
			$size: 22px,
			$color: #555,
			$lh: 1.2,
			$font-family: 'Raleway',
			$weight: 600
		);
		margin-bottom: 10px;
	}
	&__text {
		text-align: center;
		@include text-style(
			$size: 14px,
			$lh: 24px,
			$font-family: 'Montserrat',
			$weight: 300,
			$color: #8c8c8c
		);
	}
	&:hover > &__icon {
		fill: $hover-color;
	}
	&:hover > &__heading,
	&:hover > &__text {
		color: $hover-color;
	}
	&:hover::after {
		border-bottom: 4px solid $hover-color;
	}
}

/* Screens section */

.screens {
	padding: 80px 10px 0;
	background-color: #fbfaf8;
	&__heading {
		text-align: center;
		margin-bottom: 18px;
		@include text-style(
			$color: #555555,
			$size: $font-size-seched,
			$font-family: 'raleway',
			$weight: 600
		);
	}
	&__text {
		text-align: center;
		max-width: 750px;
		margin: 0 auto 32px;
		@include text-style(
			$color: #8c8c8c,
			$size: 16px,
			$font-family: 'montserrat',
			$weight: 400,
			$lh: 28px
		);
	}
	&__screen {
		display: block;
		max-width: 1230px;
		margin: 0 auto;
		height: 483px;
	}
}

/* Promo section */

.promo {
	padding: 40px 10px 50px;
	background-color: #f4f5f8;
	background-image: linear-gradient(
		90deg,
		#211b19 0%,
		#4e3427 100%
	);
	&__container {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__heading {
		margin-bottom: 5px;
		@include text-style(
			$color: white,
			$size: 28px,
			$font-family: 'raleway',
			$weight: 400
		);
		& span {
			color: #c7b299;
		}
	}
	&__text {
		@include text-style(
			$color: #615855,
			$size: 18px,
			$font-family: 'montserrat',
			$weight: 400,
			$lh: 1.2
		);
	}
	&__button {
		align-self: flex-end;
		text-transform: uppercase;
		background-color: $hover-color;
		padding: 0 28px;
		height: 50px;
		border-radius: 2px;
		@include text-style(
			$color: white,
			$size: 14px,
			$weight: 700,
			$font-family: 'Raleway'
		);
		&:hover {
			background-color: white;
			color: $hover-color;
		}
		&:active {
			background-color: grey;
		}
	}
}

/* Projects section */

.projects {
	position: relative;
	max-width: 1170px;
	margin: 0 auto;
	padding: 77px 0 81px;
	&__heading {
		text-align: center;
		margin-bottom: 15px;
		@include text-style(
			$color: #555555,
			$size: $font-size-seched,
			$font-family: 'raleway',
			$weight: 600
		);
	}
	&__text {
		text-align: center;
		max-width: 770px;
		margin: 0 auto;
		margin-bottom: 30px;
		@include text-style(
			$color: #8c8c8c,
			$size: 16px,
			$font-family: 'montserrat',
			$weight: 300,
			$lh: 28px
		);
	}
	&__filters {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
	&__filter {
		height: 32px;
		padding: 0 24px;
		margin-right: 10px;
		background-color: white;
		border: 1px solid #ebebeb;
		border-radius: 4px;
		@include text-style(
			$color: #8c8c8c,
			$size: 14px,
			$font-family: 'montserrat',
			$weight: 300,
			$lh: 21px
		);
		&:hover {
			color: white;
			background-color: $hover-color;
		}
		&:active {
			background-color: grey;
		}
		&-active {
			cursor: default;
			color: white;
			background-color: $hover-color;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	&__wrp {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}
	&__btn {
		display: block;
		margin: 0 auto;
		text-transform: uppercase;
		background-color: $hover-color;
		padding: 0 42px;
		height: 50px;
		border-radius: 5px;
		@include text-style(
			$color: white,
			$size: 14px,
			$weight: 700,
			$font-family: 'Raleway'
		);
		&:hover {
			background-color: white;
			color: $hover-color;
			border: 1px solid $hover-color;
		}
		&:active {
			background-color: grey;
			color: white;
		}
	}
}

.project-card {
	position: relative;
	flex-basis: 370px;
	background-color: #fbfaf8;
	margin-bottom: 32px;
	cursor: pointer;
	&__img {
		width: 100%;
		height: 237px;
	}
	&__wrp {
		position: relative;
		background-color: inherit;
		padding: 27px 28px 25px;
		&::before {
			@include pseudo();
			width: 20px;
			height: 20px;
			transform: rotate(37deg) skew(-15deg);
			left: 25px;
			top: -7px;
			background-color: inherit;
		}
	}
	&__heading {
		@include text-style(
			$size: 20px,
			$color: #c7b299,
			$weight: 500,
			$font-family: 'raleway'
		);
		margin-bottom: 5px;
	}
	&__text {
		@include text-style(
			$size: 14px,
			$color: #d1d1d1,
			$weight: 300,
			$lh: 20px,
			$font-family: 'montserrat'
		);
	}
	&:hover {
		background-color: #362f2d;
	}
	&:hover &__img {
		filter: brightness(0.5);
	}
	&:hover &__heading {
		color: white;
	}
	&:hover &__text {
		color: #c7b299;
	}
	&:hover .more-info {
		display: block;
	}
}

.more-info {
	@include pseudo();
	display: none;
	left: 50%;
	top: 106px;
	transform: translateX(-50%);
	&__search {
		margin-left: 28px;
	}
	&__link:hover > &__icon,
	&__search:hover > &__icon {
		fill: #c7b299;
	}
	&__icon {
		fill: white;
		height: 25px;
		width: 25px;
	}
}

/* Video presentation section */

.video-pres {
	position: relative;
	max-width: 1920px;
	max-height: 705px;
	margin: 0 auto;
	cursor: pointer;
	&__video {
		--width: 100%;
		width: 100%;
		max-height: 705px;
		background-image: url(../img/video-bg-photo.jpeg);
		background-position-y: 20%;
		filter: brightness(0.6);
	}
}

.preload {
	@include pseudo();
	text-align: center;
	width: 570px;
	height: 290px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	&__btn {
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.2);
		margin-bottom: 38px;
	}
	&__icon {
		fill: white;
		padding-top: 5px;
	}
	&__heading {
		@include text-style(
			$size: 30px,
			$color: white,
			$weight: 500,
			$font-family: 'raleway'
		);
		margin-bottom: 12px;
	}
	&__text {
		@include text-style(
			$size: 16px,
			$lh: 28px,
			$color: white,
			$weight: 300,
			$font-family: 'montserrat'
		);
		margin-bottom: 28px;
	}
	&__timer {
		@include text-style(
			$size: 14px,
			$lh: 24px,
			$color: #c7b299,
			$weight: 400,
			$font-family: 'montserrat'
		);
	}
}

/* Adaptive presentation section */

.adaptive-pres {
	background-color: #fbfaf8;
	&__wrp {
		margin: 0 auto;
		padding: 80px 0 0;
		max-width: 1170px;
		display: flex;
		justify-content: flex-end;
	}
	&__img {
		width: 423px;
		height: 616px;
		margin-right: -12px;
	}
	&__art-wrp {
		max-width: 710px;
		padding-left: 42px;
	}
	&__heading {
		@include text-style(
			$font-family: 'raleway',
			$size: 30px,
			$lh: 1.2,
			$weight: 600,
			$color: #555
		);
		margin: 105px 0 25px;
	}
	&__text {
		@include text-style(
			$font-family: 'montserrat',
			$size: 16px,
			$lh: 28px,
			$weight: 300,
			$color: #8c8c8c
		);
		margin-bottom: 30px;
	}
	&__list {
		margin-left: 50px;
	}
	&__item {
		display: flex;
		align-items: center;
		@include text-style(
			$font-family: 'montserrat',
			$size: 16px,
			$lh: 33px,
			$weight: 300,
			$color: #8c8c8c
		);
		& span {
			display: block;
		}
	}
	&__icon {
		flex-shrink: 0;
		width: 22px;
		height: 22px;
		fill: #c7b299;
		margin-right: 30px;
	}
}

/* Counters section */

.counters {
	padding: 64px 0;
	display: flex;
	justify-content: center;
	background: #f4f5f8
		linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.counters-card {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&::after {
		content: '';
		display: block;
		width: 30px;
		height: 2px;
		background-color: #fff;
	}
	&__img {
		fill: white;
		width: 60px;
		height: 45px;
		margin-bottom: 25px;
	}
	&__num {
		@include text-style(
			$font-family: 'montserrat',
			$size: 48px,
			$lh: 1,
			$weight: 200,
			$color: #fff
		);
		margin-bottom: 10px;
	}
	&__text {
		text-transform: uppercase;
		@include text-style(
			$font-family: 'montserrat',
			$size: 14px,
			$lh: 20px,
			$weight: 300,
			$color: #c7b299
		);
		margin-bottom: 22px;
	}
}

/* Recent posts section */

.recent-posts {
	margin: 0 auto;
	padding: 75px 0;
	&__heading {
		text-align: center;
		@include text-style(
			$font-family: 'raleway',
			$size: 30px,
			$lh: 1.2,
			$weight: 600,
			$color: #555
		);
		margin-bottom: 15px;
	}
	&__text {
		max-width: 770px;
		margin: 0 auto;
		text-align: center;
		@include text-style(
			$font-family: 'montserrat',
			$size: 16px,
			$lh: 28px,
			$weight: 300,
			$color: #8c8c8c
		);
		margin-bottom: 36px;
	}
	&__wrp {
		display: flex;
		justify-content: space-between;
		max-width: 1170px;
		margin: 0 auto;
	}
	&__btn-wrp {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 53px;
	}
	&__btn {
		background-color: inherit;
	}
	&__btn-icon {
		fill: #d1d1d1;
		&:hover {
			fill: #c7b299;
		}
	}
}

.post-card {
	position: relative;
	width: 370px;
	background-color: rgba(119, 119, 119, 0);
	border: 1px solid #f8f8f8;
	&__img {
		width: 370px;
		height: 220px;
		margin-bottom: 25px;
	}
	&__heading {
		@include text-style(
			$font-family: 'raleway',
			$size: 20px,
			$lh: 1.2,
			$weight: 500,
			$color: #555
		);
		margin-bottom: 11px;
		padding: 0 30px;
	}
	&__text {
		@include text-style(
			$font-family: 'montserrat',
			$size: 14px,
			$lh: 27px,
			$weight: 300,
			$color: #8c8c8c
		);
		margin-bottom: 12px;
		padding: 0 30px;
	}
	&__link {
		position: relative;
		@include text-style(
			$font-family: 'montserrat',
			$size: 14px,
			$lh: 28px,
			$weight: 300,
			$color: #c7b299
		);
		padding: 0 30px;
		&::after {
			@include pseudo();
			right: -20px;
			top: 25%;
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			background: linear-gradient(
				45deg,
				transparent,
				transparent 50%,
				#c7b299 50%
			);
		}
	}
}

.date-card {
	position: absolute;
	width: 52px;
	top: 20px;
	left: 20px;
	&__day {
		display: block;
		text-align: center;
		padding: 4px 0 2px;
		border-radius: 5px 5px 0 0;
		background-color: #363636;
		@include text-style(
			$font-family: 'montserrat',
			$size: 24px,
			$lh: 30px,
			$weight: 300,
			$color: #fff
		);
	}
	&__month {
		display: block;
		text-align: center;
		padding: 2px 0 2px;
		border-radius: 0 0 5px 5px;
		text-transform: capitalize;
		background-color: #252525;
		@include text-style(
			$font-family: 'montserrat',
			$size: 12px,
			$lh: 20px,
			$weight: 400,
			$color: #fff
		);
	}
}
